* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
       border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font-family: Montserrat,"Helvetica Neue","微软雅黑",Helvetica,Arial,sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
.slider-bar a {
	width: 1em;
	height: 1em;
	text-align: center;
	float: right;

	margin: 23px 23px 23px 0;
	background-color: #2e6a95;
	border-radius: 50%;
	opacity: 1;
}
.slider-bar a:hover {
	width: 1em;
	height: 1em;
	text-align: center;
	float: right;
	font-weight: 400;
	margin: 23px 23px 23px 0;
	background-color: white;
	border-radius: 50%;
}
body {
	background-color: #2e6a95;
	width: 100%;
	margin: 0 auto;
}
.btn {
	width: 100%;
}
input {
	width: 100%;
	height: 50px;
	margin-bottom: 1em;
	color: #2E6A95 ;
	border: 1px solid  #2E6A95;
}
input::-webkit-input-placeholder {
    padding:0 20px;
    color: #2E6A95;

}
input:-moz-placeholder {
    /* FF 4-18 */
    padding:0 20px;
    color: #2E6A95;
}
input::-moz-placeholder {
    /* FF 19+ */
    padding:0 20px;
    color: #2E6A95;
}
input:-ms-input-placeholder {
    /* IE 10+ */
    padding:0 20px;
    color: #2E6A95;
}
.login-btn {
	margin: 0 auto;
	padding: 0;
	height: 3em;	
	background-color: #2E6A95;
	color: white;
	vertical-align: middle;
	width: 100%;
}

.login-text,
.m-login {
	margin: 0 auto;
	padding: 20px 0;
	width: 300px;
}
.m-bottom-bar {
	color: white;
	font-size: 14px;
}
.m-bottom-info {
	display: block;
	padding: 10px 160px;
	width: 50%;
	float: left;
}
.m-bottom-link {
	padding:  20px;
}
.m-main {
	margin-top: 7em;
	padding: 0em;
	height: 22em;
	background-color: #e9e9e9;
	position: relative;
	border-radius: 0;
}
.m-left {
	display: block;
	left: 0px;
	position: absolute;
	width: 50%;
	top: 2em;
	padding: 0 10em;
}
.m-right {
	position: absolute;
	top: 5em;	
	width: 35%;
	height: 14em;
	left: 53%;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	
}
.m-img {
	overflow: auto;
	background-image: url('../img/img.jpg') ;
	background-size: 100%;
	width: 100%;
	height: 100%;
}

.m-login {
	border-top: solid #2E6A95;
	border-radius: 0;
}
.m-txt {
	margin: 0 auto;
	font-size: 2em;
	color: white;
	width: 100%;
	position: absolute;
	text-align: center;
}
.m-top-bar {
	background-color: #2E6A95;
	height: 8em;
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0 auto;
}
.m-shade {
	border-radius: 8px;
	background-color: #000;
	position: absolute;
	height: 4em;
	width: 100%;
	bottom: 0;
	margin: 0 auto;
	border-radius: 0  0 8px 8px;
	opacity: 0.5;
}
.round-dot {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.slider-bar {
	text-align: center;width: 100%;
	height: 100%;
}
.slider-bar li {
	z-index: 2000;
	width: 100%;
	margin: 0 auto;
	display: list-item;
	float: left;
	color: #2E6A95;
	text-align: center;
}
