<!DOCTYPE html>
<html>
<head>
	<title>导航</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/guide.css">
	<link rel="stylesheet" type="text/css" href="../static/css/maintain.css">
</head>
<body>
	<div class="m-top-bar">
		<div class="g-txt">
			<div class="g-sub-title">
				<p>华中科技大学生命安全与技术学院</p>
			</div>
			<div class="g-title">
				<p>生物实验室安全教育与评测系统</p>
			</div>
		</div>
	</div>
	<div class="g-main box">
		<div class="guide-main">
			<p class="guide-txt">导航</p>
			<div class="guide-bar">
				<div class="round-dot">
					<a target="_blank" href="test&id=1" class="round-chose">知识精解</a>
					<a target="_blank" href="test&id=2" class="round-chose">教学视频</a>
					<a target="_blank" href="test&id=3" class="round-chose">习题精练</a>
					<a target="_blank" href="http://labsafe.hust.edu.cn/redir.php?catalog_id=6" class="round-chose">考试系统</a>
				</div>
			</div>
		</div>

	</div>
	<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../static/js/maintain.js"></script>
</body>
</html>
