<!DOCTYPE html>
<html>
<head>
	<title>导航</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/guide.css">
	<link rel="stylesheet" type="text/css" href="../static/css/maintain.css">
</head>
<body>
	<div class="g-wrap">
		<div class="m-top-bar">
			<div class="g-txt">
				<div class="g-sub-title">
					<p>华中科技大学生命安全与技术学院</p>
				</div>
				<div class="g-title">
					<p>生物实验室安全教育与评测系统</p>
				</div>
			</div>
		</div>
		<div class="g-main zbox">
			<div class="guide-main">
				<div class="guide-bar">
					<div class="guide-list">
						<a target = "_blank" href="test&id=1">
							<img id="solution" src="../static/img/知识-.png" onmouseover="this.src='../static/img/知识-选中.png'" onmouseout="this.src='../static/img/知识-.png'" >					</a>
						<a class="round-chose">知识精解</a>
					</div>
					<div class="arrow"><span>></span></div>
					<div class="guide-list">
						<a target = "_blank" href="test&id=2">
							<img href="#" id="vedio" src="../static/img/视频.png" onmouseover="this.src='../static/img/视频-选中.png'" onmouseout="this.src='../static/img/视频.png'">
						</a>
						<a class="round-chose">教学视频</a>
					</div>
					<div class="arrow"><span>></span></div>
					<div class="guide-list">
						<a target = "_blank" href="test&id=3">
							<img href="#" id="practice" src="../static/img/练习.png" onmouseover="this.src='../static/img/练习-选中.png'" onmouseout="this.src='../static/img/练习.png'">
						</a>
						<a class="round-chose">习题精练</a>
					</div>
					<div class="arrow"><span>></span></div>
					<div class="guide-list">
						<a target = "_blank" href="http://labsafe.hust.edu.cn/redir.php?catalog_id=6">
							<img href="#" id="test" src="../static/img/考试.png" onmouseover="this.src='../static/img/考试-选中.png'" onmouseout="this.src='../static/img/考试.png'"></a>
						<a class="round-chose">考试系统</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="g-bottom-bar">
		<div class="g-bottom-info">
			<p>华中科技大学生命科学与技术学院</p>
			<p>地址：湖北省武汉市洪山区珞喻东路1037号东十一楼</p>
			<p>电话：027-87792404	邮编：430074
				<a style="width: 30px; display: inline-block;"></a>
			   友情链接：
				<a href="http://lifelab.hust.edu.cn/">生命科学与技术学院实验教学中心</a>
				<a href="http://life.hust.edu.cn/">华中科技大学生命科学与技术学院</a>
				<a href="http://sbc.hust.edu.cn/">华中科技大学设备处</a>
			</p>
		</div>
	</div> -->
	<div class="m-bottom-bar">
		<div class="m-bottom-info">
			<p>华中科技大学生命科学与技术学院</p>
			<p>地址：湖北省武汉市洪山区珞喻东路1037号东十一楼</p>
			<p>电话：027-87792404	邮编：430074</p>
		</div>
		<div class="m-bottom-link">
			<div style="float: left; height: 55px; padding-left: 2.5em;"><a>友情链接：</a></div>
			<div >
			<div><a href="http://lifelab.hust.edu.cn/" target="_blank">生命科学与技术学院实验教学中心</a></div>
			<div><a href="http://life.hust.edu.cn/" target="_blank">华中科技大学生命科学与技术学院</a></div>
			<div><a href="http://sbc.hust.edu.cn/" target="_blank">华中科技大学设备处</a></div>
			</div>
		</div>
	</div>
	<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../static/js/maintain.js"></script>
</body>
</html>
