
<div class=WordSection6 style='layout-grid:15.6pt'>
  <p align=center style='text-align:center;
layout-grid-mode:char;'><b><span style='font-size:15.0pt;font-family:
黑体;'>第五章 实验室安全及事故处理</span></b></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span
lang=EN-US style='font-size:16.0pt;'>（一）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><span
lang=EN-US style='font-size:16.0pt;'>&nbsp;</span></b><b><span
style='font-size:16.0pt;font-family:黑体;'>火灾事故</span></b></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>火灾事故是实验室里最容易发生的事故。多数着火事故是由于加热或处理低沸点有机溶剂时操作不当引起的。</span></p>
  <p align=center style='text-align:center;
layout-grid-mode:char;'><span
style='font-size:11.0pt;font-family:宋体;background:white'>常见有机液体的易燃性</span></p>
  <div align=center>
    <table border=1 cellspacing=0 cellpadding=0>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>名<span lang=EN-US>&nbsp;&nbsp;&nbsp; </span>称</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>沸 点 （<span lang=EN-US>℃</span>）</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>闪 点 （<span lang=EN-US>℃</span>）</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>自 燃 点 （<span lang=EN-US>℃</span>）</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>石 油 醚</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>40-60</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>-45</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>240</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>乙<span lang=EN-US>&nbsp; </span>醚</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>34.5</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>-40</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>180</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>丙<span lang=EN-US>&nbsp; </span>酮</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>56</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>-17</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>538</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>甲<span lang=EN-US>&nbsp; </span>醇</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>65</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>10</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>430</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>乙醇（<span lang=EN-US>95</span>％）</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>78</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>12</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>400</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>二硫化碳</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>46</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>-30</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>100</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>苯</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>80</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>-11</span></p></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>甲<span lang=EN-US>&nbsp; </span>苯</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>111</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>4.5</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>550</span></p></td>
      </tr>
      <tr>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white'>乙<span lang=EN-US>&nbsp; </span>酸</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>118</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>43</span></p></td>
        <td><p align=center style='text-align:center;  layout-grid-mode:char;'><span lang=EN-US
  style='font-size:11.0pt;font-family:FangSong;
  background:white'>425</span></p></td>
      </tr>
    </table>
  </div>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp; &nbsp;</span><span style='font-size:11.0pt;
font-family:宋体;background:
white'>二硫化碳，乙醚、石油醚、苯和丙酮等的闪点都比较低，即使存放在普通电冰箱内<span lang=EN-US>(</span>冰室最低温<span
lang=EN-US>-18</span>℃，无电火花消除器<span lang=EN-US>)</span>，也能形成可以着火的气氛，故这类液体不得贮于普通冰箱内。另外，低闪点液体的蒸气只需接触红热物体的表面便会着火。其中，二硫化碳尤其危险，即使与暖气散热器或热灯泡接触，其蒸气也会着火，应该特别小心。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:12.0pt;
font-family:SimHei;'>5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><span style='font-size:12.0pt;font-family:
SimHei;background:white'>火灾的预防</span></b></p>
  <p class=MsoListParagraph align=left style='text-align:left;
layout-grid-mode:
char;'><span style='font-size:11.0pt;font-family:
宋体;background:white'>有效的防范才是对待事故最积极的态度。为预防火灾，应切实遵守以下各点：</span></p>
  <p class=MsoListParagraphCxSpMiddle align=left style='
text-align:left;layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（1）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>严禁在开口容器或密闭体系中用明火加热有机溶剂，当用明火加热易燃有机溶剂时，必须要有蒸气冷凝装置或合适的尾气排放装置。<span
lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraphCxSpMiddle align=left style='
text-align:left;layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（2）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>废溶剂严禁倒入污物缸，量少时可用水冲入下水道，量大时应倒入回收瓶内再集中处理。燃着的或阴燃的火柴梗不得乱丢，应放在表面皿中，实验结束后一并投入废物缸。</span></p>
  <p class=MsoListParagraphCxSpMiddle align=left style='
text-align:left;layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（3）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>金属钠严禁与水接触，废钠通常用乙醇销毁。</span></p>
  <p class=MsoListParagraphCxSpMiddle align=left style='
text-align:left;layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（4）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>不得在烘箱内存放、干燥、烘焙有机物。</span></p>
  <p class=MsoListParagraphCxSpLast align=left style='
text-align:left;layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（5）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>使用氧气钢瓶时，不得让氧气大量溢入室内。在含氧量约<span
lang=EN-US>25%</span>的大气中，物质燃烧所需的温度要比在空气中低得多，且燃烧剧烈，不易扑灭。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-family:SimHei;
background:white'>2</span></b><b><span style='font-family:SimHei;background:
white'>． 火灾事故处理</span></b><span lang=EN-US style='font-size:11.0pt;font-family:宋体;background:white'>&nbsp;</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp;</span><span
style='font-size:11.0pt;font-family:宋体;background:white'>万一不慎失火，切莫慌惊失措，应冷静，沉着处理。只要掌握必要的消防知识，一般可以迅速灭火。<span
lang=EN-US>&nbsp;</span></span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>化学实验室一般不用水灭火！这是因为水能和一些药品（如纳）发生剧烈反应，用水灭火时会引起更大的火灾甚至爆炸，并且大多数有机溶剂不溶于水且比水轻，用水灭火时有机溶剂会浮在水上面，反而扩大火场。下面介绍化学实验室必备的几种灭火器材。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'> </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>沙箱
    将干燥沙子贮于容器中备用，灭火时，将沙子撒在着火处。干沙对扑火金属起火特别安全有效。平时经常保持沙箱干燥，切勿将火柴梗、玻管、纸屑等杂物随手丢入其中。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'> </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>灭火毯
    通常用大块石棉布作为灭火毯，灭火时包盖住火焰即成。近年来已确证石棉有致癌性，故应改用玻璃纤维布。沙子和灭火毯经常用来扑灭局部小火，必须妥善安放在固定位置，不得随意挪作他用，使用后必须归还原处。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'> </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>二氧化碳灭火器
    是化学实验室最常使用、也是最安全的干种灭火器。其钢瓶内贮有<span lang=EN-US>CO2</span>气体。使用时，一手提灭火器，一手握在喷<span
lang=EN-US>CO2</span>的喇叭筒的把手上，打开开关，即有<span lang=EN-US>CO2</span>喷出。应注意，喇叭筒上的温度会随着喷出的<span
lang=EN-US>CO2</span>气压的骤降而骤降，故手不能握在喇叭筒上，否则手会严重冻伤。<span lang=EN-US>CO2</span>无毒害，使用后干净无污染。特别适用于油脂和电器起火，但不能用于扑灭金属着火。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'> </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>泡沫灭火器
    由<span lang=EN-US>NaHCO3</span>与<span lang=EN-US>Al2(SO4)3</span>溶液作用产生<span
lang=EN-US>Al(OH)3</span>和<span lang=EN-US>CO2</span>泡沫，灭火时泡沫把燃烧物质包住，与空气隔绝而灭火。因泡沫能导电，不能用于扑灭电器着火。且灭火后的污染严重，使火场清理工作麻烦，故一般非大火时不用它。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp; </span><span style='font-size:
11.0pt;font-family:宋体;background:white'>对于火灾事故，一旦发生，应该迅速采取以下措施：</span></p>
  <p class=MsoListParagraph style='layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（1）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>一旦失火，首先采取措施防止火势蔓延，应立即熄灭附近所有火源<span
lang=EN-US>(</span>如煤气灯<span lang=EN-US>)</span>，切断电源，移开易燃易爆物品。并视火势大小，采取不同的扑灭方法。</span></p>
  <p class=MsoListParagraph style='layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（2）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>对在容器中<span
lang=EN-US>(</span>如烧杯、烧瓶，热水漏斗等<span lang=EN-US>)</span>发生的局部小火，可用石棉网、表面皿或木块等盖灭。</span></p>
  <p class=MsoListParagraph style='layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（3）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>有机溶剂在桌面或地面上蔓延燃烧时，不得用水冲，可撒上细沙或用灭火毯扑灭。</span></p>
  <p class=MsoListParagraph style='layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（4）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>对钠、钾等金属着火，通常用干燥的细沙覆盖。严禁用水和<span
lang=EN-US>CCl4</span>灭火器，否则会导致猛烈的爆炸，也不能用<span lang=EN-US>CO2</span>灭火器。</span></p>
  <p class=MsoListParagraph style='layout-grid-mode:char;
'><span lang=EN-US
style='font-size:11.0pt;font-family:宋体;'>（5）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>若衣服着火，切勿慌张奔跑，以免风助火势。化纤织物最好立即脱除。一般小火可用湿抹布，灭火毯等包裹使火熄灭。若火势较大，可就近用水龙头浇灭。必要时可就地卧倒打滚，一方面防止火焰烧向头部，另外在地上压住着火处，使其熄火。</span></p>
  <p class=MsoListParagraph style='
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;'>（6）<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>在反应过程中，若因冲料、渗漏、油浴着火等引起反应体系着火时，情况比较危险，处理不当会加重火势。扑救时必须谨防冷水溅在着火处的玻璃仪器上，必须谨防灭火器材击破玻璃仪器，造成严重的泄漏而扩大火势。有效的扑灭方法是用几层灭火毯包住着火部位，隔绝空气使其熄灭，必要时在灭火毯上撒些细沙。若仍不奏效，必须使用灭火器，由火场的周围逐渐向中心处扑灭。<span
lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
line-height:125%;layout-grid-mode:char;'><b><span lang=EN-US style='font-size:16.0pt;
line-height:125%;'>（二）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><span
style='font-size:16.0pt;line-height:125%;font-family:
黑体;'>爆炸事故</span></b></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp; </span><span style='font-size:11.0pt;font-family:宋体;background:white'>实验室发生爆炸事故的原因主要有：</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>氧化剂和还原剂的混合物在受热、摩擦或撞击时会发生爆炸。在密闭体系中进行蒸馏、回流等加热操作。</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>在加压或减压实验中使用不耐压的玻璃仪器，气体钢瓶减压阀失灵。</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>反应过于激烈而失去控制。<span
lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>易燃易爆气体如氢气，乙炔等气体烃类、煤气和有机蒸气等大量逸入空气，引起爆燃。</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>一些本身容易爆炸的化合物，如硝酸盐类，硝酸酯类，三碘化氮、芳香族多硝基化合物、乙炔及其重金属盐、重氮盐、叠氮化物、有机过氧化物<span
lang=EN-US>(</span>如过氧乙醚和过氧酸<span lang=EN-US>)</span>等，受热或被敲击时会爆炸。强氧化剂与一些有机化合物接触，如乙醇和浓硝酸混合时会发生猛烈的爆炸反应。</span></p>
  <p align=left style='text-align:left;line-height:115%;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>&nbsp;&nbsp; </span><span style='font-size:
11.0pt;line-height:115%;font-family:宋体;background:white'>下表中列出的混合物都发生过意外的爆炸事故：</span></p>
  <div align=center>
    <table border=1 cellspacing=0 cellpadding=0 width="80%">
      <tr>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>镁粉－重铬酸铵</span></p></td>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>有机化合物</span></p></td>
      </tr>
      <tr>
        <td width="50%" rowspan=2 valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>镁粉－硝酸银</span></p>
          <p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>（遇水产生剧烈爆炸）</span></p></td>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>还原剂－硝酸铅</span></p></td>
      </tr>
      <tr>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>氯化亚锡－硝酸铋</span></p></td>
      </tr>
      <tr>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>镁粉－硫磺</span></p></td>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>浓硫酸－高锰酸钾</span></p></td>
      </tr>
      <tr>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>锌粉－硫磺</span></p></td>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>三氯甲烷－丙酮</span></p></td>
      </tr>
      <tr>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>铝粉－氧化铅</span></p></td>
        <td width="50%" valign=top><p align=left style='text-align:left;  layout-grid-mode:char;'><span style='font-size:
  11.0pt;font-family:FangSong;background:white;'>铝粉－氧化铜</span></p></td>
      </tr>
    </table>
  </div>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>爆炸的毁坏力极大，必须严格加以防范。凡有爆炸危险的实验，在操作规程中必有具体的安全指导，应严格执行。此外，平时应该遵守以下各点：</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:宋体;'>（1）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;line-height:115%;font-family:宋体;background:white'>取出的试剂药品不得随便倒回贮备瓶中，也不能随手倾入污物缸，应征求安全员意见后再加以处理。<span
lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:宋体;'>（2）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;line-height:115%;font-family:宋体;background:white'>在做高压或减压实验时，应使用防护屏或戴防护面罩。</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:宋体;'>（3）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;line-height:115%;font-family:宋体;background:white'>不得让气体钢瓶在地上滚动，不得撞击钢瓶表头，更不得随意调换表头。搬运钢瓶时应使用钢瓶车。</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:宋体;'>（4）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;line-height:115%;font-family:宋体;background:white'>在使用和制备易燃、易爆气体时，如氢气、乙炔等，必须在通风橱内进行，并不得在其附近点火。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;'>（5）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:宋体;
background:white'>煤气灯用完后或中途煤气供应中断时，应立即关闭煤气龙头。若遇煤气泄漏，必须停止实验，立即报告相关部门检修。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><b><span
style='font-size:16.0pt;font-family:黑体;'>（三）</span></b><b><span
style='font-size:16.0pt;'> </span></b><b><span style='font-size:16.0pt;
font-family:黑体;'>中毒与灼伤事故</span></b></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;</span><span
style='font-size:11.0pt;font-family:宋体;background:white'>化学药品的危险性除了易燃易爆外，还在于它们具有腐蚀性、刺激性、对人体的毒性，特别是致癌性。使用不慎会造成中毒或化学灼伤事故。特别应该指出的是，实验室中常用的有机化合物，其中绝大多数对人体都有不同程度的毒害。<span
lang=EN-US>&nbsp;</span></span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:SimHei;
background:white'>1.</span><span style='font-size:11.0pt;
font-family:SimHei;background:white'>中毒和灼伤事故的预防</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
style='font-size:11.0pt;font-family:宋体;background:white'>化学中毒与化学灼伤主要是由下列原因引起的：<span lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>由呼吸道吸入有毒物质的蒸气。</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>有毒药品通过皮肤吸收进入人体。</span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:115%;layout-grid-mode:char;'><span lang=EN-US style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;line-height:115%;
font-family:宋体;background:white'>吃进被有毒物质污染的食物或饮料，品尝或误食有毒药品。<span
lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>皮肤直接接触强腐蚀性物质、强氧化剂、强还原剂，如浓酸、浓碱、氢氟酸、钠、溴等引起的局部外伤。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
style='font-size:11.0pt;font-family:宋体;background:white'>化学中毒与化学灼伤的预防措施如下：</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:11.0pt;
font-family:宋体;'>（1）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>在化学实验室里应该一直配戴护目镜<span
lang=EN-US>(</span>平光玻璃或有机玻璃眼镜<span lang=EN-US>)</span>，防止眼睛受刺激性气体薰染，防止任何化学药品特别是强酸、强碱、玻璃屑等异物进入眼内。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:11.0pt;
font-family:宋体;'>（2）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>禁止用手直接取用任何化学药品，使用毒品时除用药匙、量器外必须配戴橡皮手套，实验后马上清洗仪器用具，立即用肥皂洗手。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:11.0pt;
font-family:宋体;'>（3）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>尽量避免吸入任何药品和溶剂蒸气。处理具有刺激性的，恶臭的和有毒的化学药品时，如<span
lang=EN-US>H2S</span>、<span lang=EN-US>NO2</span>、<span lang=EN-US>Cl2</span>、<span
lang=EN-US>Br2</span>、<span lang=EN-US>CO</span>、<span lang=EN-US>SO2</span>、<span
lang=EN-US>SO3</span>、<span lang=EN-US>HCl</span>、<span lang=EN-US>HF</span>、浓硝酸、发烟硫酸、浓盐酸，乙酰氯等，必须在通风橱中进行。通风橱开启后，不要把头伸入橱内，并保持实验室通风良好。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:11.0pt;
font-family:宋体;'>（4）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>严禁在酸性介质中使用氰化物。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:11.0pt;
font-family:宋体;'>（5）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>禁止口吸吸管移取浓酸、浓碱，有毒液体，应该用洗耳球吸取。禁止冒险品尝药品试剂，不得用鼻子直接嗅气体，而是用手向鼻孔扇入少量气体。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:11.0pt;
font-family:宋体;'>（6）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>不要用乙醇等有机溶剂擦洗溅在皮肤上的药品，这种做法反而增加皮肤对药品的吸收速度。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><b><span lang=EN-US style='font-size:11.0pt;
font-family:宋体;'>（7）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>实验室里禁止吸烟、进食、饮水，禁止赤膊、穿拖鞋。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:SimHei;
background:white'>2</span><span style='font-size:11.0pt;
font-family:SimHei;background:white'>．中毒和化学灼伤的急救<span lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:SimHei;'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimHei;
background:white'>眼睛灼伤或掉进异物 </span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>一旦眼内溅入任何化学药品，立即用大量水缓缓彻底冲洗。实验室内应备有专用洗眼水龙头。洗眼时要保持眼皮张开，可由他人帮助翻开眼睑，持续冲洗<span
lang=EN-US>15</span>分钟。忌用稀酸中和溅入眼内的碱性物质，反之亦然。对因溅入碱金属、溴、磷、浓酸、浓碱或其它刺激性物质的眼睛灼伤者，急救后必须迅速送往医院检查治疗。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>玻璃屑进入眼睛内是比较危险的。这时要尽量保持平静，绝不可用手揉擦，也不要试图让别人取出碎屑，尽量不要转动眼球，可任其流泪，有时碎屑会随泪水流出。用纱布，轻轻包住眼睛后，将伤者急送医院处理。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>若系木屑、尘粒等异物，可由他人翻开眼睑，用消毒棉签轻轻取出异物，或任其流泪，待异物排出后，再滴入几滴鱼肝油。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:SimHei;'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimHei;
background:white'>皮肤灼伤<span lang=EN-US>&nbsp;</span></span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span style='font-size:11.0pt;font-family:
SimHei;background:white'>酸灼伤：</span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>先用大量水冲洗，以免深度受伤，再用稀<span
lang=EN-US>NaHCO3</span>溶液或稀氨水浸洗，最后用水洗。氢氟酸能腐烂指甲、骨头，滴在皮肤上，会形成痛苦的，难以治愈的烧伤。皮肤若被灼烧后，应先用大量水冲洗<span
lang=EN-US>20</span>分钟以上，再用冰冷的饱和硫酸镁溶液或<span lang=EN-US>70</span>％酒精浸洗<span
lang=EN-US>30</span>分钟以上，或用大量水冲洗后，用肥皂水或<span lang=EN-US>2</span>～<span
lang=EN-US>5</span>％<span lang=EN-US>NaHCO3</span>溶液冲洗，用<span lang=EN-US>5%NaHCO3</span>溶液湿敷。局部外用可的松软膏或紫草油软膏及硫酸镁糊剂。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span style='font-size:11.0pt;font-family:
SimHei;background:white'>碱灼伤：</span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>先用大量水冲洗，再用<span
lang=EN-US>1%</span>硼酸或<span lang=EN-US>2%HAe</span>溶液浸洗，最后用水洗。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span style='font-size:11.0pt;font-family:
SimHei;background:white'>溴灼伤：</span></b><span
style='font-size:11.0pt;font-family:宋体;background:white'>这是很危险的。被溴灼伤后的伤口一般不易愈合，必须严加防范。凡用溴时都必须预先配制好适量的<span
lang=EN-US>20</span>％<span lang=EN-US>Na2S2O3</span>溶液备用。一旦有溴沾到皮肤上，立即用<span
lang=EN-US>Na2S2O3</span>溶液冲洗，再用大量水冲洗干净，包上消毒纱布后就医。<span lang=EN-US>&nbsp;</span></span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
style='font-size:11.0pt;font-family:宋体;background:white'>在受上述灼伤后，若创面起水泡，均不宜把水泡挑破。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:SimHei;'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimHei;
background:white'>中毒急救<span lang=EN-US> </span></span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>实验中若感觉咽喉灼痛、嘴唇脱色或发绀，胃部痉挛或恶心呕吐、心悸头虽等症状时，则可能系中毒所致。视中毒原因施以下述急救后，立即送医院治疗，不得延误。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>固体或液体毒物中毒 有毒物质尚在嘴里的立即吐掉，用大量水漱口。误食碱者，先饮大量水再喝些牛奶。误食酸者，先喝水，再服<span
lang=EN-US>Mg(OH)2</span>乳剂，最后饮些牛奶。不要用催吐药，也不要服用碳酸盐或碳酸氢盐。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>重金属盐中毒者，喝一杯含有几克<span lang=EN-US>MgSO4</span>的水溶液，立即就医。不要服催吐药，以免引起危险或使病情复杂化。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>砷和汞化物中毒者，必须紧急就医。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>吸入气体或蒸气中毒者，应立即转移至室外，解开衣领和钮扣，呼吸新鲜空气。对休克者应施以人工呼吸，但不要用口对口法。立即送医院急救。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:SimHei;'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimHei;
background:white'>烫伤、割伤等外伤<span lang=EN-US> </span></span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>在烧熔和加工玻璃物品时最容易被烫伤，在切割玻管或向木塞、橡皮塞中插入温度计、玻管等物品肘最容易发生割伤。玻璃质脆易碎，对任何玻璃制品都不得用力挤压或造成张力。在将玻管、温度计插入塞中时，塞上的孔径与玻管的粗细要吻合。玻管的锋利切口必须在火中烧圆，管壁上用几滴水或甘油润湿后，用布包住用力部位轻轻旋入，切不可用猛力强行连接。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;font-family:宋体;background:white'>外伤急救方法如下：</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>割伤 &nbsp;先取出伤口处的玻璃碎屑等异物，用水洗净伤口，挤出一点血，涂上红汞水后用消毒纱布包扎。也可在洗净的伤口上贴上<span
lang=EN-US>“</span>创口贴<span lang=EN-US>”</span>，可立即止血，且易愈合。若严重割伤大量出血时，应先止血，让伤者平卧，抬高出血部位，压住附近动脉，或用绷带盖住伤口直接施压，若绷带被血浸透，不要换掉，再盖上一块施压，即送医院治疗。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>烫伤 &nbsp;一旦被火焰、蒸气、红热的玻璃、铁器等烫伤时，立即将伤处用大量水冲淋或浸泡，以迅速降温避免深度烧伤。若起水泡不宜挑破，用纱布包扎后送医院治疗。对轻微烫伤，可在伤处涂些鱼肝油或烫伤油膏或万花油后包扎。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:宋体;
background:white'>&nbsp; </span><span style='font-size:11.0pt;font-family:宋体;background:white'>实验室医药箱内一般有下列急救药品和器具：</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>医用酒精、碘酒、红药水、紫药水、止血粉，创口贴、烫伤油膏<span
lang=EN-US>(</span>或万花油<span lang=EN-US>)</span>、鱼肝油，<span lang=EN-US>1%</span>硼酸溶液或<span
lang=EN-US>2%</span>醋酸溶液，<span lang=EN-US>1%</span>碳酸氢钠溶液、<span lang=EN-US>20%</span>硫代硫酸钠溶液等。</span></p>
  <p class=MsoListParagraph align=left style='
text-align:left;
layout-grid-mode:char;'><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;font-family:宋体;background:white'>医用镊子、剪刀，纱布，药棉、棉签，绷带等。</span></p>
  <p align=left style='text-align:left;
layout-grid-mode:char;'><span
style='font-size:11.0pt;font-family:宋体;background:white'>医药箱专供急救用，不允许随便挪动，平时不得动用其中器具。</span></p>
</div>
<br clear=all style='page-break-before:always;
'>
<div class=WordSection7 style='layout-grid:15.6pt'> </div>
</body>
</html>
