
<div class=WordSection3 style='layout-grid:15.6pt'>
  <h1 align=center style='text-align:center;
'><span style='line-height:240%;
font-family:黑体;'>第二章<span
lang=EN-US>&nbsp; </span>实验室仪器安全操作规范</span></h1>
  <p class=10><span style='font-size:11.0pt;'>实验室中，各式各样的仪器是科学家在科研上的得力助手。但是<span
lang=EN-US>,</span>某些仪器如果操作不当，会引起不可估量的危险。因此，规范仪器操作是保障操作人员安全的重要屏障。在这里，我们介绍几种生物实验室常见实验仪器的安全操作规范<span
lang=EN-US>,</span>主要有灭菌锅、离心机、超净台、通风橱、生物安全柜、紫外分析仪、超低温冰箱、烘箱和液氮罐。</span></p>
  <h2><span style='font-family:黑体;"DengXian Light";'>（一）</span> <span style='font-family:黑体;
'>高压灭菌锅</span></h2>
  <h1><span
lang=EN-US style='font-size:12.0pt;line-height:240%;
'>1</span><span style='font-size:12.0pt;line-height:240%;font-family:黑体;'>、简介</span></h1>
  <p class=10><span lang=EN-US
style='font-size:11.0pt;'>&nbsp;&nbsp;&nbsp; </span><span
style='font-size:11.0pt;'>高压灭菌锅又名高压蒸汽灭菌锅，简称灭菌锅。它是一种利用电热丝加热水使之产生蒸汽，并且能维持一定压力的装置。一般以<span
lang=EN-US>101.33kPa</span>处理<span lang=EN-US>15-20min</span>，此时锅内温度能达到<span
lang=EN-US>121</span></span><span style='font-size:11.0pt;font-family:宋体;
'>℃，在此蒸汽温度下，可以杀死各种细菌及一些耐热的芽孢。且高压</span><span
style='font-size:11.0pt;'>蒸汽的穿透力强，因此能达到很好的灭菌效果，为最常用的灭菌方法。<a
name="OLE_LINK3">按照样式大小，可以分为手提式高压灭菌锅、立式高压灭菌锅和卧式高压灭菌锅。手提式高压灭菌锅结构比较简单，使用方便，价格较低，但容量太小，实验室中常用做母种和少量原种培养基灭菌；立式高压灭菌锅除具有压力表、放气阀、安全阀外，还有进水管、出水管等装置
    ，容量适中。根据锅的大小，能装菌种瓶<span lang=EN-US>18</span>一<span lang=EN-US>100</span>瓶，在实验室中较常见。卧式高压灭菌锅又分为圆筒式和方柜式两种，每种又有单门和双门。容量较大，适合大规模的灭菌。</a></span></p>
  <h1><span lang=EN-US style='font-size:12.0pt;
line-height:240%;'>2</span><span style='font-size:12.0pt;line-height:240%;font-family:黑体;'>、简易操作流程</span></h1>
  <h1><span
lang=EN-US style='font-size:12.0pt;line-height:240%;
'>3</span><span style='font-size:12.0pt;line-height:240%;font-family:黑体;'>、操作规范</span></h1>
  <p><span style='font-size:11.0pt;
color:#333333;background:white;'>不同种类的灭菌锅有不同的使用方法，操作者使用之前应仔细阅读该型号的使用说明书。现我们就以下三种灭菌锅各举一例，介绍一下操作规程。</span></p>
  <p><span
lang=EN-US style='font-family:Wingdings;color:#333333;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span
style='font-family:DengXian;color:#333333;
background:white;'>手提式高压灭菌锅（例：<span lang=EN-US>XFS-280A</span>手提式高压灭菌锅）</span></b></p>
  <p><span style='font-size:11.0pt;
color:#333333;background:white;'>（</span><span lang=EN-US style='font-size:11.0pt;font-family:Arial;
color:#333333;background:white;'>1</span><span style='font-size:11.0pt;color:#333333;
background:white;'>）加水</span><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;color:#333333;background:
white;'>:</span><span
style='font-size:11.0pt;color:#333333;background:white;'>向灭菌锅内加纯净水至水位没过电热管至少约</span><span lang=EN-US
style='font-size:11.0pt;font-family:Arial;color:#333333;background:white;
'>1</span><span
style='font-size:11.0pt;color:#333333;background:white;'>厘米（大约</span><span lang=EN-US
style='font-size:11.0pt;font-family:Arial;color:#333333;background:white;
'>3</span><span
style='font-size:11.0pt;color:#333333;background:white;'>升水），连续使用必须补充水量至上述位置。</span></p>
  <p><span style='font-size:11.0pt;
color:#333333;background:white;'>（</span><span lang=EN-US style='font-size:11.0pt;font-family:Arial;
color:#333333;background:white;'>2</span><span style='font-size:11.0pt;color:#333333;
background:white;'>）密封：将需要灭菌的物品均匀、错落有序地放置在灭菌桶内，然后将灭菌桶放入灭菌锅内，并将上盖盖上，放汽软管插入灭菌桶半圆槽内。在对齐上下槽后，对称地将蝶形螺母旋紧，以达到密封要求。</span></p>
  <p><span style='font-size:11.0pt;
color:#333333;background:white;'>（</span><span lang=EN-US style='font-size:11.0pt;font-family:Arial;
color:#333333;background:white;'>3</span><span style='font-size:11.0pt;color:#333333;
background:white;'>）加热：通电加热后，先将放气阀搭子放在垂直放气位置，让灭菌锅的冷空气溢出，当有蒸汽喷出时，再将放气阀搭子复位。当灭菌锅压力达到所需范围时，开始按不同物品的要求计算灭菌时间。</span></p>
  <p><span style='font-size:11.0pt;
color:#333333;background:white;'>（</span><span lang=EN-US style='font-size:11.0pt;font-family:Arial;
color:#333333;background:white;'>4</span><span style='font-size:11.0pt;color:#333333;
background:white;'>）灭菌结束：当灭菌过程到达所需时间后，切断电源，让灭菌锅内温度自然下降，当压力表的压力降为零时，打开排气阀，旋松螺栓，打开盖子，取出灭菌物品。做好使用登记。</span></p>
  <p><span
lang=EN-US style='font-family:Wingdings;color:#333333;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span
style='font-family:DengXian;color:#333333;
background:white;'>立式高压灭菌锅（例：<span lang=EN-US>GI54DWS</span>高压蒸汽灭菌锅）</span></b></p>
  <p class=10>（<span lang=EN-US>1</span>）打开电源开关；</p>
  <p class=10>（<span lang=EN-US>2</span>）逆时针旋转手柄直至腔盖打开；</p>
  <p class=10>（<span lang=EN-US>3</span>）检查、确认排水阀已经关闭；</p>
  <p class=10>（<span lang=EN-US>4</span>）往灭菌腔注入蒸馏水，直至水流进水位板中间的水位指示器；</p>
  <p class=10>（<span lang=EN-US>5</span>）将待灭菌物品放入提篮，并置于灭菌腔中；</p>
  <p class=10>（<span lang=EN-US>6</span>）往左轻推手柄直至横梁靠紧立柱，然后顺时针旋转手柄，当闭盖指示灯亮时，继续旋转半周直至手柄旋紧；</p>
  <p class=10>（<span lang=EN-US>7</span>）选择灭菌程序，长按“<span
lang=EN-US>start </span>”键<span lang=EN-US>3</span>秒后直接启动程序；</p>
  <p class=10>（<span lang=EN-US>8</span>）灭菌结束，当灭菌室内温度在<span
lang=EN-US>80</span>℃以下时，便可顺时针旋转手柄打开腔盖；</p>
  <p class=10>（<span lang=EN-US>9</span>）取出灭菌物，打开排水阀排出灭菌水；</p>
  <p class=10>（<span lang=EN-US>10</span>）关闭腔盖，关闭电源。做好使用登记。</p>
  <p><span
lang=EN-US style='font-family:Wingdings;color:#333333;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span
style='font-family:DengXian;color:#333333;
background:white;'>卧式高压蒸汽灭菌锅（例：<span lang=EN-US>WDZX-200K</span>卧式蒸汽灭菌器）</span></b></p>
  <p><span lang=EN-US>1</span>、开机准备</p>
  <p class=10>（<span lang=EN-US>1</span>）闭合电源断路器；</p>
  <p class=10>（<span lang=EN-US>2</span>）打开蒸汽发生器进水截止阀；</p>
  <p class=10>（<span lang=EN-US>3</span>）打开灭菌器面板上控制电源锁；</p>
  <p class=10>（<span lang=EN-US>4</span>）查看灭菌器各个电器件是否正常；</p>
  <p><span lang=EN-US>2</span>、灭菌器运行</p>
  <p class=10>（<span lang=EN-US>1</span>）往外拉出手动安全销；</p>
  <p class=10>（<span lang=EN-US>2</span>）向左旋转门启闭手柄至停止位置（“门已开”灯亮），门启闭手柄指示灯闪烁；</p>
  <p class=10>（<span lang=EN-US>3</span>）开启灭菌器门，蜂鸣器长鸣；</p>
  <p class=10>（<span lang=EN-US>4</span>）将灭菌物转载筐依次放入灭菌室后关闭灭菌门，将灭菌器门关至闭合位置；</p>
  <p class=10>（<span lang=EN-US>5</span>）向右旋转门启闭手柄至停止位置（“门已关”灯亮）；</p>
  <p class=10>（<span lang=EN-US>6</span>）在控制面板中按下温度键，然后依次按下“自动排气”和“辅助干燥”功能键；</p>
  <p class=10>（<span lang=EN-US>7</span>）按下启动键，开始灭菌；</p>
  <p class=10>（<span lang=EN-US>8</span>）按下启动键安全联锁锁止，防止错开灭菌门；</p>
  <p class=10>（<span lang=EN-US>9</span>）灭菌结束，灭菌室内温度在<span
lang=EN-US>85</span>℃以下时，观察压力降为<span lang=EN-US>0</span>后，同时长按上<span
lang=EN-US style='font-size:10.0pt;font-family:&quot;Wingdings 3&quot;;
&quot;Wingdings 3&quot;'><span style='"Wingdings 3"'>~</span></span>、右<span
lang=EN-US style='font-size:10.0pt;font-family:&quot;Wingdings 3&quot;;
&quot;Wingdings 3&quot;'><span style='"Wingdings 3"'>}</span></span>键解锁安全联锁；</p>
  <p class=10>（<span lang=EN-US>10</span>）向左旋转门启闭手柄至停止位置，开启灭菌器门，取出灭菌物；</p>
  <p class=10>（<span lang=EN-US>11</span>）关闭蒸汽发生器进水截止阀；</p>
  <p class=10>（<span lang=EN-US>12</span>）断开电源断路器，做好使用登记。</p>
  <p class=10 align=center style='text-align:center;'><span lang=EN-US><img width=257 height=363
src="../static/img/image010.png" alt="../Downloads/图片/生物仪器-04.jpg"
v:shapes="_x56fe__x7247__x0020_17"></span></p>
  <p class=10><b><span lang=EN-US style='font-family:Arial;
color:#333333;background:white;'>4</span></b><b><span style='color:#333333;
background:white;'>、</span></b><b><span style='font-family:Arial;color:#333333;background:white;
'> </span>注意事项</b></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;'>（1）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;background:white;'>使用灭菌锅者应提前培训；</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;'>（2）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;background:white;'>受热易挥发或易爆物品，严禁采用高压蒸气方法灭菌；</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;'>（3）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;background:white;'>瓶装液体严禁密封灭菌，应当<a name="OLE_LINK2">在瓶塞上进行泄压处理</a></span><span lang=EN-US style='font-size:11.0pt;
font-family:Arial;background:white;'>, </span><span style='font-size:11.0pt;background:white;
'>液体盛装的体积不得超过总体积的</span><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;background:white;
'>3/4</span><span
style='font-size:11.0pt;background:white;'>；</span><span style='font-size:11.0pt;font-family:Arial;background:white;
'> </span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;'>（4）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;background:white;'>严禁在灭菌锅缺水或低水位时进行高压灭菌。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;'>（5）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;background:white;'>灭菌锅用水为去离子水或其他纯净水，严禁使用自来水，以防产生水垢；</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;'>（6）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;background:white;'>灭菌过程中严禁打开锅盖，灭菌结束后应<a name="OLE_LINK1">等压力归零后</a>方可开盖，严禁带压操作；</span><span
style='font-size:11.0pt;font-family:Arial;background:white;'> </span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;'>（7）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:11.0pt;background:white;'>定期检查安全阀的功能，避免因安全阀失效而导致压力过高发生爆炸；</span></p>
  <h1><span
lang=EN-US>&nbsp;</span></h1>
  <h2><span style='font-family:黑体;"DengXian Light";'>（二）</span> <span style='font-family:黑体;
'>离心机</span></h2>
  <p style='line-height:150%'><b><span lang=EN-US style='font-size:11.0pt;line-height:150%;'>1</span></b><b><span
style='font-size:11.0pt;line-height:150%;'>．简介</span></b></p>
  <p><span lang=EN-US>&nbsp;&nbsp; </span><span style='font-size:11.0pt;font-family:SimSun'>离心机就是利用离心机转子高速旋转产生的强大的离心力，加快液体中颗粒的沉降速度，把样品中不同沉降系数和浮力密度的物质分离开的一种机器。根据转速的不同，可将离心机分为低速离心机（转速<span
lang=EN-US>&lt;5000r/min</span>）、高速离心机（<span lang=EN-US>5000&lt;</span>转速<span
lang=EN-US>&lt;25000</span>）和超速离心机（转速<span lang=EN-US>&gt;30000</span>）。根据温度控制情况，将离心机分为普通离心机和冷冻离心机两种：普通离心机不带制冷系统，而冷冻离心机拥有制冷系统，能够对离心腔的温度进行调节，最高能达到<span
lang=EN-US>40</span>℃，最低能到<span lang=EN-US>-20</span>℃。实验室常用的离心机以低速（包括大容量）离心机和高速冷冻离心机应用最为普遍；低速冷冻离心机最常用于生物大分子、沉淀物的大量、初级提取；高速冷冻离心机多用于搜集微生物、细胞、细胞碎片、大的细胞器、蛋白质的硫酸沉淀物以及免疫沉淀物等；超速离心机能对亚细胞器进行分级分离，并可用于蛋白质、核酸分子量的测定等分析操作。<span
lang=EN-US>&nbsp;&nbsp; </span></span></p>
  <p style='line-height:150%'><b><span lang=EN-US style='font-size:11.0pt;line-height:150%;'>2. </span></b><b><span
style='font-size:11.0pt;line-height:150%;'>简易操作流程</span></b></p>
  <table cellpadding=0 cellspacing=0 align=left>
    <tr>
      <td width=123 height=0></td>
    </tr>
    <tr>
      <td></td>
      <td><img width=351 height=205 src="../static/img/image011.png"
   v:shapes="Rectangle_x0020_67 _x77e9__x5f62__x0020_123 Freeform_x0020_46 _x7ec4__x5408__x0020_119 Rectangle_x0020_67 Freeform_x0020_40 _x77e9__x5f62__x0020_113 Freeform_x0020_54 _x7ec4__x5408__x0020_109 Rectangle_x0020_63 Freeform_x0020_32 _x77e9__x5f62__x0020_103 Freeform_x0020_30 _x7ec4__x5408__x0020_99 Freeform_x0020_22 _x77e9__x5f62__x0020_95 _x0000_s1143 Rectangle_x0020_56 _x7ec4__x5408__x0020_94 Freeform_x0020_16 Rectangle_x0020_58 Freeform_x0020_24 Rectangle_x0020_61 _x7ec4__x5408__x0020_104 Freeform_x0020_38 _x77e9__x5f62__x0020_108 Freeform_x0020_48 Rectangle_x0020_65 _x7ec4__x5408__x0020_114 Freeform_x0020_46 _x77e9__x5f62__x0020_118 Freeform_x0020_40"></td>
    </tr>
  </table>
  <br clear=ALL>
  </p>
  <p><b><span lang=EN-US
style='font-size:11.0pt;'>3. </span></b><b><span style='font-size:11.0pt;'>操作规范</span></b></p>
  <p><span style='font-size:11.0pt;
color:#333333;background:white;'>在实验室中，许多样品都需经过离心处理，不同的实验目的、不同的样品对转速和温度的需求不同，</span><span
style='font-size:11.0pt;background:white;'>大家可以根据自己的实验需求，自行选择合适的离心机。下面列举三种离心机的操作规程。<span style='color:#333333'>需要强调的是，高速离心机和超速离心机属于重要精密设备，因其转速高，产生的离心力大，使用不当或缺乏定期的检修和保养，都有可能导致严重的事故，因此，使用离心机时都必须严格遵守操作规程。</span></span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;color:#333333;'>l<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span style='font-size:11.0pt;font-family:
SimHei;color:#333333;background:white;'>低速离心机（</span></b><span style='font-size:11.0pt;font-family:SimHei;
color:#333333;background:white;'>例：<span lang=EN-US>LXJ-HB</span></span><span
style='font-size:9.5pt;font-family:SimHei;color:#333333;background:white;'>低速大容量多管离心机）</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:FangSong;background:white;'>接通电源：插接电源，打开电源开关。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:FangSong;background:white;'>放入样品：将提前配平好的样品对称地放入转子中，依次盖上内盖和外盖。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:FangSong;background:white;'>设置参数：设置好转速和时间。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:FangSong;background:white;'>启动运行：按“开始”键，启动运行。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>5)<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:FangSong;background:white;'>离心结束后，取出样品，关闭电源，做好记录。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:Wingdings;color:#333333;'>l<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><b><span
style='font-size:11.0pt;font-family:SimHei;color:#333333;background:white;'>高速离心机（例：<span
lang=EN-US>TGL16M</span>高速冷冻离心机）</span></b></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;color:#333333'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>操作前： <span
lang=EN-US>a.</span>检查离心机放置是否平稳，转子是否完好。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>b.</span><span
style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>将待离心物品配平。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>c.</span><span
style='font-size:11.0pt;font-family:FangSong;
background:white'>冷冻离心机可提前开机或将转子放入冰箱内进行预冷。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;color:#333333'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>接通电源：插接电源，打开电源开关。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;color:#333333'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>打开门盖：按停止键，</span><span
style='font-size:11.0pt;font-family:FangSong;background:white'>离心机的门盖自动打开。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;color:#333333'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>安装转子：选择需要的转子，按要求安装，将提前配平好的离心样品对称的放入转子中，依次关闭离心机内盖和门盖。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;color:#333333'>5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>参数设置：设置离心参数（包括转子型号、</span><span
style='font-size:11.0pt;font-family:FangSong;background:white'>转速或离心力<span style='color:#333333'>、离心温度和时间）</span></span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;color:#333333'>6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>启动运行。</span><span
style='font-size:11.0pt;font-family:FangSong;background:white'>按“启动”键开始离心；在离心机运行正常（无异常振动或声响）并达到设定转速之后，操作者方可离开。</span></p>
  <p><span
lang=EN-US style='font-size:11.0pt;font-family:FangSong;color:#333333'>7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:FangSong;
color:#333333;background:white'>离心结束后，取出离心物品和转子，并擦干机体内的冷凝水，关闭电源，做好记录。</span></p>
  <p><b><span lang=EN-US style='font-size:11.0pt;font-family:
Arial;background:white'>C</span></b><b><span style='font-size:11.0pt;
background:white'>、超速离心机（例：</span></b><b><span lang=EN-US
style='font-size:11.0pt;font-family:Arial;background:white'>Optima&nbsp; L</span></b><b><span style='font-size:
11.0pt;background:white'>－</span></b><b><span lang=EN-US style='font-size:11.0pt;
font-family:Arial;background:white'>80XP</span></b><b><span style='font-size:
11.0pt;background:white'>超速离心机）</span></b></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>打开电源：按电源开关<span lang=EN-US>POWER</span>至“<span
lang=EN-US>ON</span>”位置，打开电源。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>打开离心机门盖。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>选取与<span lang=EN-US>L-80XP</span>超速离心机配合使用的转头。使用转头前，在离心机上设置相应的转头型号，选择合适的转速、运行温度及时间（不同转头的最高转速不同，需要按转头的属性进行设置）。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>选用与转头适配的离心管，确认离心管无任何破损后，向管内添加实验样品。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>确保实验样品两两配平后，将样品塞入吊篮（或管腔），拧紧吊篮盖（转子盖），使用水平转子时，所有吊篮必须按顺序全部挂于转子上。然后双手稳持转子，将转子垂直卡入机腔底部的转轴上。关闭离心机盖。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>真空操作：点击“<span lang=EN-US>VACUUM</span>”键，等真空值降至转速允许的数值以下时，点击“<span
lang=EN-US>ENTER</span>”键确认，并按“<span lang=EN-US>START</span>”键开始运行。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>离心结束后，再次点击“<span lang=EN-US>VACUUM</span>”键，待气压平衡后打开机盖，取出转子，取出实验样品。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:FangSong;'>8)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:FangSong;
'>关闭电源，做好使用登记。</span></span></p>
  <p align=center style='text-align:center;line-height:11.25pt;
'><span class=last-item-end4><span lang=EN-US
style='font-size:11.0pt;font-family:FangSong;
'><img width=257 height=363
src="../static/img/image013.png" alt="../Downloads/图片/生物仪器-03.jpg"
v:shapes="_x56fe__x7247__x0020_16"></span></span></p>
  <p><b><span lang=EN-US
style='font-size:11.0pt;font-family:Arial;color:black;background:white;'>4.&nbsp; </span></b><b><span style='font-size:11.0pt;color:black;'>注意事项</span></b></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>离心之前必须在天平上精密地平衡离心管和样品，平衡时重量之差不能超过各个离心机说明书上所规定的范围。放置时将平衡的样品对称安放。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>冷冻离心机在运行之前，转头可提前放入离心机内预冷，离心机在预冷状态时，离心机盖必须关闭。离心结束后取出转头并擦干腔内冷凝水。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>根据离心液体的性质及体积选用合适的离心管。超速离心前，检查转子离心管是否有裂痕，严禁使用有锈蚀或裂纹的转子和离心管。同时确保转头固定在轴上。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>在离心过程中，未达到设定转速之前，操作人员不得离开。启动过程中若听到异常声响或观察到离心机异常振动，需立即按停止键，待转子停稳后，再开盖检查样品是否配平或转子是否安装好。</span></span></p>
  <h1><span lang=EN-US>&nbsp;</span><span style='font-family:黑体;
'>（三）超净台</span></h1>
  <p><b><span lang=EN-US style='font-size:11.0pt;'>1. </span></b><b><span style='font-size:11.0pt;'>简介</span></b></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span lang=EN-US style='font-size:11.0pt;
'>&nbsp;&nbsp;&nbsp; </span><span class=last-item-end4><span lang=EN-US style='font-size:
11.0pt;font-family:SimSun;
'>&nbsp;</span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>超净台是一种提供局部高洁净工作环境的净化设备，能够防止来自外部环境的污染。超净工作台根据气流的方向分为垂直流超净工作台和水平流超净工作台，垂直流超净台由于风机在顶部，风垂直吹，多用在医药工程领域，这样保证人的身体健康；<span
lang=EN-US><a
href="http://baike.baidu.com/item/%E6%B0%B4%E5%B9%B3%E6%B5%81%E5%B7%A5%E4%BD%9C%E5%8F%B0"
target="http://baike.baidu.com/item/_blank"><span lang=ZH-CN style='color:windowtext;
text-decoration:none;text-underline:none'>水平流工作台</span></a></span>风向往外，所以多用在电子行业，对身体健康影响不大。根据操作结构分为单边操作及双边操作两种形式，按其用途又可分为普通超净工作台和生物（医药）超净工作台。</span></span></p>
  <p><b><span lang=EN-US style='font-size:11.0pt;'>2. </span></b><b><span style='font-size:11.0pt;'>简易操作流程</span></b></p>
  <table cellpadding=0 cellspacing=0 align=left>
    <tr>
      <td width=124 height=0></td>
    </tr>
    <tr>
      <td></td>
      <td><img width=359 height=177 src="../static/img/image014.png"
   v:shapes="Rectangle_x0020_67 _x77e9__x5f62__x0020_118 Freeform_x0020_46 _x7ec4__x5408__x0020_114 Rectangle_x0020_65 Freeform_x0020_48 _x77e9__x5f62__x0020_108 Freeform_x0020_38 _x7ec4__x5408__x0020_104 Rectangle_x0020_61 Freeform_x0020_24 Rectangle_x0020_58 Freeform_x0020_16 _x7ec4__x5408__x0020_94 Rectangle_x0020_56 _x0000_s1115 _x77e9__x5f62__x0020_95 Freeform_x0020_22 _x7ec4__x5408__x0020_99 Freeform_x0020_30 _x77e9__x5f62__x0020_103 Freeform_x0020_32 Rectangle_x0020_63 _x7ec4__x5408__x0020_109 Freeform_x0020_54 _x77e9__x5f62__x0020_113 Freeform_x0020_40"></td>
    </tr>
  </table>
  <br clear=ALL>
  </p>
  <p><b><span lang=EN-US style='font-size:11.0pt;font-family:
Arial;'>3. </span></b><b><span style='font-size:11.0pt;
'>使用规范</span></b></p>
  <p style='line-height:12.0pt'><b><span style='font-size:11.0pt;background:white'>操作前准备：</span></b><span
style='font-size:11.0pt;background:white'>打开总电源，打开紫外灯，紫外照射</span><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;background:white'>20min</span><span
style='font-size:11.0pt;background:white'>，然后关闭紫外灯，启动风机，使风机在中速下运行</span><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;background:white'>10min</span><span
style='font-size:11.0pt;background:white'>左右。</span></p>
  <p style='line-height:12.0pt'><b><span style='font-size:11.0pt;background:white'>正式操作：</span></b><span
style='font-size:11.0pt;background:white'>打开照明灯，同时保持风机在中速下运行，进行实验操作。</span></p>
  <p style='line-height:12.0pt'><b><span style='font-size:11.0pt;background:white'>结束操作：</span></b><span
style='font-size:11.0pt;background:white'>操作完成后，继续保持风机运行</span><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;background:white'>10min</span><span
style='font-size:11.0pt;background:white'>，然后依次关闭风机、照明灯和电源。</span></p>
  <p><b><span lang=EN-US style='font-size:11.0pt;font-family:
Arial;'>4. </span></b><b><span style='font-size:11.0pt;
'>注意事项</span></b></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>1</span>）超净工作台内严禁长时间存放无关的物品，以防干扰工作区的洁净气流方向。</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>2</span>）紫外线对皮肤和视网膜有很强的刺激性，操作时应避免紫外线直射，紫外照射时要关闭玻璃移门。</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>3</span>）在带移门的工作台操作时，移门的开启高度不宜过高（如拉至顶端），也不宜关至过低（如落至台面），以免影响风速和洁净度。 </span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>4</span>）避免频繁开关紫外灯和照明灯，以延长灯管使用寿命；</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>5</span>）定期检查空气滤网等滤材，老化严重时应及时更换。 </span></span></p>
  <p align=center style='text-align:center;line-height:12.0pt'><b><span lang=EN-US style='font-family:Arial;color:black;background:white;'><img border=0 width=257 height=363
src="../static/img/image016.png" alt="../Downloads/图片/生物仪器-01.jpg"
v:shapes="_x56fe__x7247__x0020_14"></span></b></p>
  <h1><span style='font-family:黑体;'>（四）</span> <span style='font-family:黑体;
'>生物安全柜</span></h1>
  <p><b><span lang=EN-US style='font-size:11.0pt;font-family:
Arial;'>1. </span></b><b><span style='font-size:11.0pt;
'>简介</span></b></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span lang=EN-US style='font-size:11.0pt;
font-family:Arial;color:#333333;background:white'>&nbsp;</span><span lang=EN-US style='font-size:
10.5pt;font-family:Arial;color:#333333;background:white'>&nbsp;</span><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>&nbsp;&nbsp;</span></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>生物安全柜（见下图）主要用于操作<span lang=EN-US><a
href="http://baike.sogou.com/lemma/ShowInnerLink.htm?lemmaId=5178283&amp;ss_c=ssc.citiao.link"
target="http://baike.sogou.com/_blank"><span lang=ZH-CN style='color:windowtext;
text-decoration:none;text-underline:none'>原代培养</span></a></span>物、菌<span
lang=EN-US><a
href="http://baike.sogou.com/lemma/ShowInnerLink.htm?lemmaId=644434&amp;ss_c=ssc.citiao.link"
target="http://baike.sogou.com/_blank"><span lang=ZH-CN style='color:windowtext;
text-decoration:none;text-underline:none'>毒株</span></a></span>以及诊断性标本等具有感染性的实验材料时，保护操作者、实验室环境以及实验材料，使其避免暴露于上述操作过程中可能产生的感染性<span
lang=EN-US><a
href="http://baike.sogou.com/lemma/ShowInnerLink.htm?lemmaId=4752179&amp;ss_c=ssc.citiao.link"
target="http://baike.sogou.com/_blank"><span lang=ZH-CN style='color:windowtext;
text-decoration:none;text-underline:none'>气溶胶</span></a></span>和溅出物。生物安全柜可分为一级、二级和三级，以满足不同的<span
lang=EN-US><a
href="http://baike.sogou.com/lemma/ShowInnerLink.htm?lemmaId=2685926&amp;ss_c=ssc.citiao.link"
target="http://baike.sogou.com/_blank"><span lang=ZH-CN style='color:windowtext;
text-decoration:none;text-underline:none'>生物研究</span></a></span>和防疫要求。</span></span></p>
  <p align=center style='text-align:center;line-height:12.0pt'><span
lang=EN-US style='font-size:11.0pt;font-family:Arial;color:black;background:white;'><img border=0 width=129 height=182
src="../static/img/image018.png" alt=link v:shapes="_x56fe__x7247__x0020_149"></span></p>
  <p><b><span lang=EN-US style='font-family:SimHei;'>2. </span></b><b><span style='font-family:SimHei;
'>简易操作流程</span></b></p>
  <table cellpadding=0 cellspacing=0 align=left>
    <tr>
      <td width=123 height=0></td>
    </tr>
    <tr>
      <td></td>
      <td><img width=361 height=204 src="../static/img/image019.png"
   v:shapes="Rectangle_x0020_67 _x77e9__x5f62__x0020_123 Freeform_x0020_46 _x7ec4__x5408__x0020_119 Rectangle_x0020_67 Freeform_x0020_40 _x77e9__x5f62__x0020_113 Freeform_x0020_54 _x7ec4__x5408__x0020_109 Rectangle_x0020_63 Freeform_x0020_32 _x77e9__x5f62__x0020_103 Freeform_x0020_30 _x7ec4__x5408__x0020_99 Freeform_x0020_22 _x77e9__x5f62__x0020_95 _x0000_s1082 Rectangle_x0020_56 _x7ec4__x5408__x0020_94 Freeform_x0020_16 Rectangle_x0020_58 Freeform_x0020_24 Rectangle_x0020_61 _x7ec4__x5408__x0020_104 Freeform_x0020_38 _x77e9__x5f62__x0020_108 Freeform_x0020_48 Rectangle_x0020_65 _x7ec4__x5408__x0020_114 Freeform_x0020_46 _x77e9__x5f62__x0020_118 Freeform_x0020_40"></td>
    </tr>
  </table>
  <br clear=ALL>
  </p>
  <p><b><span lang=EN-US style='font-family:SimHei;'>3. </span></b><b><span style='font-family:SimHei;
'>操作规程（例：<span lang=EN-US>BSC-1000-</span>Ⅱ<span
lang=EN-US>-B2</span>生物安全柜）</span></b></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>1</span>）在准备实验操作之前，用<span
lang=EN-US>75%</span>的洒精进行彻底的清洁工作。</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>2</span>）打开电源，为了实现工作区域的自净，将风机与紫外灯同时打开。按风机开关，风机运转时风机指示灯发绿光；按紫外灯开关，紫外灯发光时紫外灯指示灯发红光。</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>3</span>）待风机与紫外灯同时工作<span
lang=EN-US>30</span>分钟后，关闭紫外灯，开始实验操作。</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>4</span>）实验操作结束后约<span
lang=EN-US>10</span>分钟（工作区域自净时间）以后再关闭风机。</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>5</span>）关闭电源。</span></span></p>
  <p><b><span lang=EN-US style='font-family:SimHei;'>4. </span></b><b><span style='font-family:SimHei;
'>注意事项</span></b></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>1</span>）工作时不要将移门移过安全线的高度（<span
lang=EN-US>200mm</span>处）。若将移门开口抬高至<span lang=EN-US>200mm</span>以上，则有气流不能平衡的危险。（当移门开口抬高至<span
lang=EN-US>200mm</span>以上时，则蜂鸣器鸣叫报警）</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>2</span>）其它器具的使用不得妨碍安全柜内的气流。不要将物品置于吸风口中或吸风口上方，以免因吸气量减少而影响生物安全柜的性能。</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>3</span>）实验操作结束后，带入安全柜内的物品要进行杀菌处理，最好是能够实施抛弃处理。</span></span></p>
  <h1><span style='font-family:黑体;'>（五）</span> <span style='font-family:黑体;
'>通风橱</span></h1>
  <p><b><span lang=EN-US style='font-family:Arial;'>1</span></b><b>．</b><b><span
style='font-family:Arial;'> </span></b><b>简介</b></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span lang=EN-US
style='font-size:10.5pt;font-family:&quot;DengXian Light&quot;;
'>&nbsp; </span></span><span
class=last-item-end4><span lang=EN-US style='font-size:10.5pt;font-family:SimSun;'>&nbsp;</span></span><span class=last-item-end4><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;
'>&nbsp;</span></span><span
class=last-item-end4><span style='font-size:11.0pt;font-family:SimSun;'>通风橱（见下图），又称通风柜，是实验室，特别是化学实验室的一种大型设备。 通风橱能将实验过程产生的有害气体有效排出，从而减少实验者和有害气体的接触，一些易挥发的有毒试剂的添加也可以在通风橱中进行，因此它能很好地保护工作人员和实验室环境。如需完全隔绝有毒气体则需要使用手套箱。</span></span></p>
  <p align=center style='text-align:center;line-height:12.0pt'><span
lang=EN-US style='font-family:宋体;'><img border=0 width=255 height=192
src="../static/img/image020.jpg" v:shapes="_x0000_i1025"></span></p>
  <p><b><span lang=EN-US style='font-family:Arial;'>2. </span></b><b>简易操作流程</b></p>
  <p align=left style='text-align:left;
'><img width=328 height=180
 src="../static/img/image021.png" v:shapes="Rectangle_x0020_65 _x77e9__x5f62__x0020_62 Freeform_x0020_54 _x7ec4__x5408__x0020_58 Rectangle_x0020_63 Freeform_x0020_32 _x77e9__x5f62__x0020_52 Freeform_x0020_30 _x7ec4__x5408__x0020_48 Freeform_x0020_22 _x77e9__x5f62__x0020_44 _x0000_s1059 Rectangle_x0020_56 _x7ec4__x5408__x0020_43 Freeform_x0020_16 Rectangle_x0020_58 Freeform_x0020_24 Rectangle_x0020_61 _x7ec4__x5408__x0020_53 Freeform_x0020_38 _x77e9__x5f62__x0020_57 Freeform_x0020_48"><br clear=ALL>
  </p>
  <p><b><span lang=EN-US style='font-family:Arial;'>3</span></b><b>．操作规范</b></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>1</span>）打开电源，启动风机系统，确定通风柜处于排风状态； </span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>2</span>）打开玻璃视窗至使用者手肘处（半开），使操作人员能够将手伸入柜内进行实验操作，而胸部以上则受玻璃视窗的安全钢化玻璃所屏护；</span></span></p>
  <p align=left style='text-align:left;'><span
class=last-item-end4><span style='font-size:11.0pt;font-family:SimSun;'>（<span lang=EN-US>3</span>）操作人员暂时离开时，应使柜内实验程序自行反应或暂停实验，并将调节门开至最低开度；</span></span></p>
  <p align=left style='text-align:left;line-height:11.25pt;
'><span class=last-item-end4><span style='font-size:
11.0pt;font-family:SimSun;
'>（<span lang=EN-US>4</span>）工作结束后，应将所有相关的水、电、气开关予以关闭，并将调节门降至最低位置后方可离开。</span></span></p>
  <p class=MsoListParagraph><b><span
lang=EN-US style='font-size:12.0pt;font-family:Arial;'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
style='font-size:12.0pt;'>注意事项</span></b></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><b><span lang=EN-US
style='font-size:11.0pt;font-family:SimSun;'>（1）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>玻璃视窗全开状态仅在组装、调试内部仪器设备或清洁柜内空间时方允许出现，操作时不要将玻璃视窗完全打开；</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><b><span lang=EN-US
style='font-size:11.0pt;font-family:SimSun;'>（2）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>实验人员在通风柜实验进行实验时，不要将头伸入调节门内，以避免危险。</span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><b><span lang=EN-US
style='font-size:11.0pt;font-family:SimSun;'>（3）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>通风柜内应避免放置非必要物品、器材，以免干扰空气的正常流动。 </span></span></p>
  <p class=MsoListParagraph align=left style='text-align:left;
line-height:11.25pt;'><span
class=last-item-end4><b><span lang=EN-US
style='font-size:11.0pt;font-family:SimSun;'>（4）<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></b></span><span class=last-item-end4><span
style='font-size:11.0pt;font-family:SimSun;
'>实验物品、器材放置在通风柜内时，应距离调节门内侧<span
lang=EN-US>150mm</span>左右，以确保排气之顺畅。</span></span></p>
  <h1><span
lang=EN-US>（六）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-family:黑体;'>紫外分析仪</span></h1>
  <p align=left style='text-align:left;
'><b><span lang=EN-US style='font-size:11.0pt;
font-family:SimHei;'>1. </span></b><b><span style='font-size:11.0pt;font-family:SimHei;
'>简介</span></b></p>
  <p><a name="keyword_inherit"><span class=last-item-end4><span lang=EN-US
style='font-size:11.0pt;font-family:&quot;DengXian Light&quot;;
'>&nbsp;</span></span></a><span class=last-item-end4><span lang=EN-US style='font-size:
11.0pt;font-family:SimSun;
'><span>&nbsp; </span></span></span><span
class=last-item-end4><span lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>&nbsp;</span></span><span class=last-item-end4><span
style='font-size:11.0pt;'>紫外分析仪</span></span><span
class=last-item-end4><span style='font-size:11.0pt;font-family:SimSun;'>是利用紫外线照射经荧光染料结合的核酸样品，并通过检测所发射荧光的强度对样品进行分析的仪器；紫外分析仪分为三用紫外分析仪、暗箱式紫外分析仪、可照相紫外分析仪等系列，各有不同的用途。在生物实验室主要用于核酸电泳分析、检测，常用紫外分析仪对<span
lang=EN-US>DNA</span>、<span lang=EN-US>RNA</span>凝胶电泳样品进行观察拍照与切胶操作。紫外分析仪广泛应用于涉及分子生物学、生物制品、农业等生命科学研究领域的科研院所与企业单位。</span></span></p>
  <table cellpadding=0 cellspacing=0>
    <tr>
      <td width=93 height=0></td>
    </tr>
    <tr>
      <td></td>
      <td><img width=363 height=205 src="../static/img/image022.png"
   v:shapes="Rectangle_x0020_67 _x77e9__x5f62__x0020_123 Freeform_x0020_46 _x7ec4__x5408__x0020_119 Rectangle_x0020_67 Freeform_x0020_40 _x77e9__x5f62__x0020_113 Freeform_x0020_54 _x7ec4__x5408__x0020_109 Rectangle_x0020_63 Freeform_x0020_32 _x77e9__x5f62__x0020_103 Freeform_x0020_30 _x7ec4__x5408__x0020_99 Freeform_x0020_22 _x77e9__x5f62__x0020_95 _x0000_s1026 Rectangle_x0020_56 _x7ec4__x5408__x0020_94 Freeform_x0020_16 Rectangle_x0020_58 Freeform_x0020_24 Rectangle_x0020_61 _x7ec4__x5408__x0020_104 Freeform_x0020_38 _x77e9__x5f62__x0020_108 Freeform_x0020_48 Rectangle_x0020_65 _x7ec4__x5408__x0020_114 Freeform_x0020_46 _x77e9__x5f62__x0020_118 Freeform_x0020_40"></td>
    </tr>
  </table>
  <br clear=ALL>
  <b><span lang=EN-US style='font-size:11.0pt;font-family:SimHei;"Times New Roman";'>2. </span></b><b><span
style='font-size:11.0pt;font-family:SimHei;
'>简易操作流程</span></b>
  </p>
  <p><b><span lang=EN-US style='font-size:11.0pt;font-family:
SimHei;'>3. </span></b><b><span
style='font-size:11.0pt;font-family:SimHei;
'>操作规范（例<span lang=EN-US>:tanon 2500</span>成像系统）</span></b></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>带好手套，将电泳好的凝胶样品放在仪器中央</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>打开总电源开关。开启电脑至<span
lang=EN-US>WINDOWS</span>处于正常的工作状态</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>打开主机上层箱内电源开关。双击桌面上的“<span
lang=EN-US>GIS</span>”图标，进入软件。根据需要，点击快捷栏上的按钮。</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>打开反射白灯灯开关。</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>调节光圈大小，使画面内能观察到图像。</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>在计算机显示屏上观察凝胶是否已全部在显示区域内，如果凝胶位置不在画面中央，请重新移动凝胶位置；如画面内未能将凝胶拍全，请调节变焦。</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>关闭反射灯开关，打开投射灯开关。</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>8)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>观察计算机上显示的图像，重新调节光圈大小，避免图像过亮出项光晕；调节焦距使图像清晰。</span></p>
  <p class=MsoListParagraph><span
lang=EN-US style='font-size:11.0pt;font-family:SimSun;'>9)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span style='font-size:11.0pt;font-family:SimSun'>拍摄并保存，完毕后关闭灯源电源，关闭软件窗口，并将废弃的凝胶扔到指定的垃圾桶。</span></p>
  <p align=center style='text-align:center'><span lang=EN-US
style='font-size:11.0pt;font-family:SimSun;
'><img border=0 width=257 height=362
src="../static/img/image024.png" alt="../Downloads/图片/生物仪器-05.jpg"
v:shapes="_x56fe__x7247__x0020_18"></span></p>
  <p align=left style='text-align:left;
'><br>
    <b><span lang=EN-US style='font-size:11.0pt;font-family:SimHei;
'>4. </span></b><b><span
style='font-size:11.0pt;font-family:SimHei;
'>注意事项</span></b><br>
    <span class=last-item-end4><span style='font-size:11.0pt;font-family:SimSun;'>（<span lang=EN-US>1</span>） 放置胶片前应关掉紫外灯，防止紫外线泄漏灼伤人体。 <br>
（     <span lang=EN-US>2</span>） 观察后应及时关闭电源开关，以延长紫外灯的寿命。 <br>
（     <span lang=EN-US>3</span>） 严禁用金属物和其它硬物直接接触紫外滤光片，以免刮花紫外滤光片。 <br>
（     <span lang=EN-US>4</span>） 防止电泳液污染紫外滤光片。 <br>
（     <span lang=EN-US>5</span>） 定期用无水乙醇清洁紫外滤光片，以防紫外滤光片发霉。</span></span></p>
  <p align=left style='text-align:left;
'><b><span style='font-size:16.0pt;font-family:黑体;'>（七）超低温冰箱</span></b></p>
  <p><b><span lang=EN-US style='font-family:SimHei;"Times New Roman";'>1. </span></b><b><span
style='font-family:SimHei;'>简介</span></b></p>
  <p align=left style='text-align:left;
line-height:115%;'><span class=last-item-end4><span
lang=EN-US style='font-size:11.0pt;line-height:115%;
font-family:SimSun;'>&nbsp; </span></span><span class=last-item-end4><span lang=EN-US
style='font-family:SimSun;'>&nbsp;&nbsp;</span></span><span
class=last-item-end4><span style='font-size:11.0pt;line-height:115%;font-family:SimSun;
'>超低温冰箱是生物化学与分子生物学实验室中的必备仪器，主要用于生物样品或药品的保存。超低温冰箱的温度范围大致从<span
lang=EN-US>-60-150</span>℃，可用于保存药物、酶、激素、菌种、干细胞、疫苗、血小板、精液、移植的皮肤以及从人体抽取的标本，植物种子的种质库，基因克隆库和一些重要的生物和化学试剂等。</span></span></p>
  <p align=center style='text-align:center;
'><b><span lang=EN-US style='font-size:14.0pt;font-family:Arial;color:#333333;
background:white;'><img border=0 width=138 height=262
src="../static/img/image026.png" alt="IMG_20170406_092402" v:shapes="_x56fe__x7247__x0020_6"></span></b><span
class=last-item-end4></span></p>
  <p><b><span lang=EN-US style='font-family:SimHei;"Times New Roman";'>2</span></b><b><span style='font-family:
SimHei;'>、注意事项</span></b></p>
  <p class=MsoListParagraph style='
line-height:115%;'><span
lang=EN-US style='font-family:SimSun;'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:SimSun'>超低温冰箱在使用中应避免压缩机长时间持续运行而致损坏。打开冰箱后，应迅速取放物品，打开时间不能过久；严禁单次放入过多或温度较高的物品；待保存物品需分批放入或预冷后放入，并调节冰箱的设置温度，进行阶梯式降温，直至所需要的低温。</span></p>
  <p class=MsoListParagraph style='
line-height:115%;'><span
lang=EN-US style='font-family:SimSun;'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:SimSun'>样品必须用耐低温的容器装好，才可放入冰箱。强酸及腐蚀性的样品不宜冷冻。</span></p>
  <p class=MsoListParagraph style='
line-height:115%;'><span
lang=EN-US style='font-family:SimSun;'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:SimSun'>从冰箱中取样品时要带安全手套，防止被冻伤。</span></p>
  <p class=MsoListParagraph style='
line-height:115%;'><span
lang=EN-US style='font-family:SimSun;'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:SimSun'>如遇停电，需依次关闭电池开关、电源开关、外部电源。来电后，反向依次打开各个开关。；低速冷冻离心机最常用于生物大分子、沉淀物的大量、初级提取；高速冷冻离心机多用于搜集微生物、细胞、细胞碎片、大的细胞器、硫酸沉淀物以及免疫沉淀物等；超速离心机能对亚细胞器进行分级分离，并可用于蛋白质、核酸分子量的测定等分析操作。</span></p>
  <h1><span style='font-family:黑体;'>（八）</span> <span style='font-family:黑体;
'>烘箱</span></h1>
  <p><b><span lang=EN-US style='font-family:SimHei;"Times New Roman";'>1. </span></b><b><span
style='font-family:SimHei;'>简介</span></b></p>
  <p><span lang=EN-US style='font-size:11.0pt;font-family:Arial;
color:#333333;background:white'>&nbsp;&nbsp; </span><span lang=EN-US
style='font-size:10.5pt;font-family:Arial;color:#333333;background:white'>&nbsp;</span><span
style='font-size:10.5pt;font-family:宋体;color:#333333;background:white'>烘箱是实验室中的一种加热设备。利用电热丝隔层加热使物体干燥，适用于比室温高</span><span
lang=EN-US style='font-size:10.5pt;font-family:Arial;color:#333333;background:white'>5</span><span style='font-size:10.5pt;
font-family:宋体;color:#333333;background:white'>℃</span><span
lang=EN-US style='font-size:10.5pt;font-family:Arial;color:#333333;background:white'>~300</span><span style='font-size:10.5pt;
font-family:宋体;color:#333333;background:white'>℃范围的烘培、干燥、热处理等。</span></p>
  <p align=center style='text-align:center'><span lang=EN-US
style='font-size:11.0pt;font-family:Arial;color:#333333;background:white;'><img border=0 width=193 height=257
src="../static/img/image028.png" alt="IMG_20170419_223720" v:shapes="_x56fe__x7247__x0020_240"></span></p>
  <p><b><span lang=EN-US style='font-family:SimHei;"Times New Roman";'>2. </span></b><b><span
style='font-family:SimHei;'>使用规范与注意事项</span></b></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>烘箱应使用独立电源插座，使用前需确认供电电源的电压与产品要求相符。</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>烘箱外壳必须有效接地，切不可以零线或中线作地线，</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>烘箱应放置在具有良好通风条件的室内，不可紧贴墙壁，在其周围不可放置易燃易爆物品。</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>烘箱内物品放置切勿过挤，必须留出空间。不允许将任何物件插入或堵住进风、出风口（槽）阻挡空气循环。</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>5)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>禁止烘焙易燃、易爆、易挥发及有腐蚀性的物品。</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>6)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>烘箱使用温度在</span><span
lang=EN-US style='font-family:Arial;color:#333333;background:white'>100</span><span lang=EN-US style='font-family:&quot;MS Mincho&quot;;color:#333333;
background:white'>℃</span><span style='font-family:
宋体;color:#333333;background:white'>以上时，不得触摸工作箱门、观察窗及箱体表面，以防烫伤。</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>7)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>当需要观察工作室内样品情况时，可开启外道箱门，透过玻璃门观察。但箱门以尽量少开为好，以免影响恒温。特别是当烘箱温度在</span><span
lang=EN-US style='font-family:Arial;color:#333333;background:white'>200</span><span lang=EN-US style='font-family:&quot;MS Mincho&quot;;color:#333333;
background:white'>℃</span><span style='font-family:
宋体;color:#333333;background:white'>以上时，开启箱门有可能使玻璃门骤冷而破裂。</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>8)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>有鼓风的烘箱，在加热和恒温的过程中必须将鼓风机开启，否则影响工作室温度的均匀性和损坏加热元件。</span></p>
  <p class=MsoListParagraph style='
line-height:12.0pt;'><span
lang=EN-US style='font-family:Arial;color:#333333'>9)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style='font-family:宋体;color:#333333;background:white'>要做好干燥箱的日常维护保养工作，易耗品如密封圈、热风电机、加热管、拉手等应定期保养，使用、维护应有专人进行，保养或更换备件时必须先切断电源，保证安全。</span></p>
  <p align=center style='text-align:center;line-height:12.0pt'><b><span lang=EN-US style='font-size:11.0pt;
font-family:Arial;color:black;background:white;'><img border=0 width=257 height=298
src="../static/img/image030.png" alt="../Downloads/图片/生物仪器-02.jpg"
v:shapes="_x56fe__x7247__x0020_15"></span></b></p>
  <h1><span
lang=EN-US>（九）<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
lang=EN-US>&nbsp;</span><span
style='font-family:黑体;'>液氮罐</span></h1>
  <p><b><span lang=EN-US style='font-family:SimHei;"Times New Roman";'>1.</span></b><b><span style='font-family:
SimHei;'>简介</span></b></p>
  <p style='line-height:12.0pt'><span
style='font-size:10.5pt;font-family:宋体;color:#333333;background:white'>液氮罐在生物实验室中，主要用于生物样本的活性保存。如在生物医学领域内的疫苗、菌毒种、细胞以及人、动物的器官，都可以浸泡于液氮中，长期活性保存。需要时取出解冻复温即可使用。液氮罐一般分为液氮贮存罐、液氮运输罐两种。贮存罐主要用于室内液氮的静置贮存，不宜在工作状态下作远距离运输使用；液氮运输罐为了满足运输的需要，作了专门的防震设计，除可静置贮存外，还可在充装液氮状态下，作运输容器使用，但也应避免剧烈的碰撞和震动。</span></p>
  <p style='line-height:12.0pt'><span lang=EN-US
style='font-size:11.0pt;font-family:SimHei;
color:black'>2. </span><span style='font-size:11.0pt;
font-family:SimHei;color:black'>操作规范</span></p>
  <p class=10><span
style='font-size:12.0pt;font-family:SimSun;
color:#333333;background:white'>（<span lang=EN-US>1</span>）打开液氮罐盖子之前要佩戴手套和护目镜，穿戴白大褂。</span></p>
  <p class=10><span
style='font-size:12.0pt;font-family:SimSun;
color:#333333;background:white'>（<span lang=EN-US>2</span>）缓慢打开液氮罐盖子。</span></p>
  <p class=10><span
style='font-size:12.0pt;font-family:SimSun;
color:#333333;background:white'>（<span lang=EN-US>3</span>）缓慢拉出提斗样品储存盒，注意避免碰擦颈管内壁，以免损坏颈管。待液氮没有呈股流下时，盖好盖子，以免多跑氮。</span></p>
  <p class=10><span
style='font-size:12.0pt;font-family:SimSun;
color:#333333;background:white'>（<span lang=EN-US>4</span>）将样品储存盒放置在平整防冻的台面，迅速取出目标样本。</span></p>
  <p class=10><span
style='font-size:12.0pt;font-family:SimSun;
color:#333333;background:white'>（<span lang=EN-US>5</span>）取样结束后，缓慢打开盖子，将提斗样品储存盒缓慢放回液氮罐中，盖好盖子。</span></p>
  <p class=10><span
style='font-size:12.0pt;font-family:SimSun;
color:#333333;background:white'>（<span lang=EN-US>6</span>）定期检查液氮罐的密封状态，当液氮残余量只够使用<span
lang=EN-US>1</span>个星期时，补充液氮。充填液氮，宜在通风良好的地点进行。充填液氮的速度要缓慢，先注入小量，然后稍停几分钟，使其冷却再逐渐注足至规定容量</span><span
style='font-size:12.0pt;color:#333333;
background:white'>。</span></p>
  <p style='line-height:12.0pt'><span lang=EN-US
style='font-size:11.0pt;font-family:SimHei;
color:black'>3</span><span style='font-size:11.0pt;
font-family:SimHei;color:black'>． 注意事项</span></p>
  <p class=10><span
style='font-family:SimSun;color:#333333;background:white'>（<span lang=EN-US>1</span>） 要有专人负责管理、使用和保养。液氮罐贮存室要空气流通<span
lang=EN-US>,</span>如在密闭的室内贮存多只液氮罐，则有可能蒸发的氮气将滞留室内，从而造成缺氧状态，就有可能发生窒息事故。</span></p>
  <p class=10><span
style='font-family:SimSun;color:#333333;background:white'>（<span lang=EN-US>2</span>）取冻存样品时要小心被冻伤。</span></p>
  <p class=10><span
style='font-family:SimSun;color:#333333;background:white'>（<span lang=EN-US>3</span>）液氮罐要保持垂直，严禁倾倒罐内液氮以免发生事故。</span></p>
  <p class=10><span
style='font-family:SimSun;color:#333333;background:white'>（<span lang=EN-US>4</span>）操作液氮罐要轻拿轻放避免与其他物体相碰撞。</span></p>
  <p class=10 align=center style='text-align:center;'><span lang=EN-US style='font-family:SimSun;
color:#333333;background:white;'><img border=0 width=257 height=362
src="../static/img/image032.png" alt="../Downloads/图片/生物仪器-06.jpg"
v:shapes="_x56fe__x7247__x0020_19"></span></p>
  <br
clear=all style='page-break-before:always'>